<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인dailydiary 메인화면</title>

    <style>
        body {
            background-color: #faf3f0;
            display: flex;
            flex-direction: column; /* 수직 정렬을 위해 column으로 설정 */
            margin: 0;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>
<div th:include="layout/header :: header"></div>
<div>
    <table>
        <tr>
            <td th:text="${diaryDTO.title}"></td>
        </tr>
        <tr>
            <td th:text="${diaryDTO.content}"></td>
        </tr>
        <tr>
            <!-- diaryDTO에 저장된 이미지 파일 경로 -->
            <img th:if="${diaryDTO.fileName ne null}" th:src="@{'/uploads/' + ${diaryDTO.fileName}}" width="300"
                 alt="게시글 이미지">

        </tr>

        <tr>
            <td th:text="${diaryDTO.date}" id="date" name="date"></td>
        </tr>
    </table>
    <input type="button" value="수정"
           th:onclick="|location.href='@{/daily-list/diaryForm/{boardSeq}(boardSeq=${diaryDTO.boardSeq})}'|">

    <input type="button" value="목록" th:onclick="goDiaryList()">
    <input type="button" id="btn-delete" th:onclick="'deleteDiary(' + ${diaryDTO.boardSeq} + ')'" value="삭제">
    <!--        <input type="button" id="deleteBtn" th:onclick="|window.location.href='/diary/${diaryDTO.boardSeq}'|" value="삭제">-->


    <!--  댓글  -->
    <div id="commentDiv">
        <table>
            <form th:action="@{/daily-list/diary}" id="commentForm" method="post" th:if="${commentDTO == null}">
                <input type="text" placeholder="메모 쓰기!" id="content" name="content">
                <input type="hidden" id="userSeq" name="userSeq" value=1>
                <!--            비밀댓글 수정 필요. 일단 0으로 고정-->
                <input type="hidden" id="secret" name="secret" value=0>
                <input type="submit" value="등록"
                       th:onclick="'insertComment(' + ${diaryDTO.boardSeq} + '); return false;'">
            </form>
            <!--           댓글 출력 -->
            <input type="hidden" name="userSeq" value=1>
            <input type="hidden" name="secret" value=0>
            <tr th:if="${commentDTO != null}" style="display: show;" id="updateCommFormTr">
                <td>
                    <div>
                        <span th:text="${commentDTO.content}" id="commentContent1"></span>
                    </div>
                </td>
                <td>
                    <span th:text="${commentDTO.date}"></span>
                </td>
                <td>
                    <div>
                        <input type="button" value="수정" th:onclick="'updateCommentForm(' + ${diaryDTO.boardSeq} + ')'"
                               id="updateFormBtn">
                        <input type="button" value="삭제" th:onclick="'deleteComment(' + ${diaryDTO.boardSeq} + ')'">
                    </div>
                </td>
            </tr>
            <!--            댓글 수정 폼 -->
            <tr th:if="${commentDTO != null}">
                <td>
                    <div id="updateCommDiv" style="display: none;">
                        <input type="text" th:value="${commentDTO.content}" id="commentContent2">
                        <input type="button" value="수정" th:onclick="'updateComment(' + ${diaryDTO.boardSeq} + ')'"
                               id="updateCommBtn">
                        <input type="button" value="취소" th:onclick="'cancelComment()'" id="cancelUpdateBtn">
                    </div>
                </td>
            </tr>


            <tr th:unless="${commentDTO != null}">
                <td colspan="2">
                    <h3>등록된 메모가 없습니다.</h3>
                </td>
            </tr>


        </table>
        <!--        }-->
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    //댓글 수정 폼
    function updateCommentForm(boardSeq){
        $("#updateCommFormTr").hide();
        $("#updateCommDiv").show();
    }
//댓글 수정
    function updateComment(boardSeq){
        var content = $("#commentContent2").val();
        var secret = $('input[name="secret"]').val();
        var userSeq = $('input[name="userSeq"]').val();

        $.ajax({
            type: "PUT",
            url: "/daily-list/comment/"+boardSeq,
            data: {
                "content" : content,
                "boardSeq" : boardSeq,
                "userSeq" : userSeq,
                "secret" : secret
                },
            success: function(result){
                alert("메모가 수정 되었습니다.");
                location.href="/daily-list/diary/"+boardSeq;
            },
            error: function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

//댓글 수정 취소
    function cancelComment(){
        $("#updateCommFormTr").show();
        $("#updateCommDiv").hide();
    }

    //댓글 삭제
    function deleteComment(boardSeq){
        const check = confirm('메모를 삭제하시겠습니까?');

        if(check){
            $.ajax({
                type: "DELETE",
                url: "/daily-list/comment/"+boardSeq,
                success: function(result){
                    alert("메모가 삭제 되었습니다.");
                    location.href="/daily-list/diary/"+boardSeq;
                },
                error: function(xhr, status, error) {
                    console.error("에러 발생:", error);
                }
            });
        }
    };

    //댓글 작성
    function insertComment(boardSeq){
        var content = $('input[name="content"]').val();
        var userSeq = $('input[name="userSeq"]').val();
        var secret = $('input[name="secret"]').val();

        var formData = new FormData();

        formData.append('boardSeq', boardSeq);
        formData.append('userSeq', userSeq);
        formData.append('content', content);
        formData.append('secret', secret);

        $.ajax({
            type: "POST",
            url: "/daily-list/comment/commentDiary",
            data: formData,
            processData: false, // FormData 객체 그대로 전송하기 위해 필요
            contentType: false, // FormData 객체 그대로 전송하기 위해 필요
            success: function(success){
                console.log(success);
                if (success === "success") {
                    alert("댓글 등록 완료");
                    location.href="/daily-list/diary/"+boardSeq;
                } else {
                    alert("수정 실패");
                }
            },
            error: function(xhr, status, error) {
                console.error("에러 발생:", error);
            }
        });

    };

//  목록 이동
    function goDiaryList(){
        location.href="/daily-list/1";
        }

//게시글 삭제
    function deleteDiary(boardSeq){
        const check = confirm('삭제하시겠습니까?');

        if(check){
        $.ajax({
            type: "DELETE",
            url: "/daily-list/diary/"+boardSeq,
            success: function(result){
                alert("일기가 삭제 되었습니다.");
                location.href="/daily-list/1";
            },
            error: function(xhr, status, error) {
                console.error("에러 발생:", error);
            }
        });
        }
    };

</script>
</body>
</html>
