<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <meta charset="UTF-8">
    <title>메인dailydiary 메인화면</title>
    <style>
        input {
            width: 200px;
        }
        .error-class {
            color: red;
            border-color: red;
        }
    </style>
</head>
<body>
<div>
    <h3>오늘 하루를 기록해보세요.</h3>
    <h1>한솔이의 일기장</h1>
</div>
<div class="register-container">
    <form th:action="@{/daily-list/diary}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><h2>일기 작성</h2></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="제목을 입력하세요." name="title" id="title"></td>

<!--                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요!"-->
<!--                       th:class="${#fields.hasErrors('title')} ? 'form-control fieldError' : 'form-control'">-->
<!--                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>-->

                <td><input type="button" value="취소"></td>
                <td><button type="submit">작성</button></td>
            </tr>
            <tr>
                <td><textarea rows="20" cols="70" placeholder=" 내용을 입력하세요." name="content" id="content"></textarea></td>
            </tr>
            <tr>
                <td><label for="file">첨부파일</label>
                    <input type="file" class="form-control-file" id="file" name="file"></td>
            </tr>

<!--            <input type="text" name="birthday" id="birthdayPicker" value="2023-01-01" />-->

<!--            <script>-->
<!--                $(function() {-->
<!--                    // 초기 날짜를 가져와서 Date 객체로 변환-->
<!--                    var initialDate = $('#birthdayPicker').val();-->
<!--                    var parsedDate = moment(initialDate, 'YYYY-MM-DD');-->

<!--                    $('input[name="birthday"]').daterangepicker({-->
<!--                        singleDatePicker: true,-->
<!--                        showDropdowns: true,-->
<!--                        minYear: 1901,-->
<!--                        maxYear: parseInt(moment().format('YYYY'), 10),-->
<!--                        startDate: parsedDate,  // 초기 날짜 설정-->
<!--                    }, function(start, end, label) {-->
<!--                        var years = moment().diff(start, 'years');-->
<!--                        alert("You are " + years + " years old!");-->
<!--                    });-->
<!--                });-->
<!--            </script>-->


        </table>
    </form>
</div>
<script>
<!--  작성 버튼 클릭시 유효성 검사 필요  -->

</script>
</body>
</html>
