<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인dailydiary 메인화면</title>
</head>
<body>
<div>
    <h3>오늘 하루를 기록해보세요.</h3>
    <h1>한솔이의 일기장</h1>
</div>
<div class="register-container">
    <h2>일기장 목록</h2>
    <input type="text" placeholder="검색어를 입력하세요." id="searchText">
    <input type="button" value="검색" th:onclick="searchDiary()"><br>

    <button type="button" onclick="window.location.href='/daily-list/diaryForm'">글작성</button>
    <!-- 일기장 리스트 -->
    <div id="diaryList">
        <div th:each="list, status : ${boardList}">
            <hr>
            <a th:href="@{/daily-list/diary/{boardSeq}(boardSeq=${list.boardSeq})}">
                <img th:if="${list.fileName ne null}" th:src="@{'/uploads/' + ${list.fileName}}" width="300"
                     alt="게시글 이미지">
                <h3 th:text="${list.title}"></h3>
            </a>

            <h5 th:text="${list.content}"></h5>
            <h5 th:text="${list.date}"></h5>
        </div>
    </div>
    <!--    검색 화면 보여주는 공간-->
    <div id="searchResults">


    </div>

</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    //다이어리 검색 제목+내용
    function searchDiary(){
        var searchText = $("#searchText").val();

        $.ajax({
            type: "GET",
            url: "/daily-list/search",
            data: {
                "searchText": searchText
                },
            dataType: "json",
            success: function (result) {
                $("#diaryList").hide();
                var searchResults = $("#searchResults");
                searchResults.empty(); // 기존 내용 초기화

                var searchList = result.searchList;

                $("#searchResults").append('<h4>검색한 일기 수 : ' + searchList.length + '</h4>');

                if (searchList.length > 0) {
                    for (var i = 0; i < searchList.length; i++) {
                        var diary = searchList[i];

                        // 동적으로 HTML 생성
                        var html = '<div>';
                        html += '<hr>';
                        html += '<a href="/daily-list/diary/' + diary.boardSeq + '">';
                        if (diary.fileName != null) {
                            html += '<img src="/uploads/' + diary.fileName + '" width="300" alt="게시글 이미지">';
                        }
                        html += '<h3>' + diary.title + '</h3>';
                        html += '</a>';
                        html += '<h5>' + diary.content + '</h5>';
                        html += '<h5>' + diary.date + '</h5>';
                        html += '</div>';
                        searchResults.append(html);
                    }
                } else {
                    searchResults.append('<p>해당되는 일기가 없습니다.</p>');
                }
        },
        error: function (request, status, error) {
            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
    });


    }
</script>