<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dailydiary</title>
</head>
<body>
<div>
    <h3>오늘 하루를 기록해보세요.</h3>
    <h1>한솔이의 일기장 수정하기</h1>
</div>
<div class="register-container">
    <form id="form">
        <table>
            <tr>
                <td><input type="text" th:value="${diaryDTO.title}" name="title"/></td>
            </tr>
            <tr>
                <td><input type="text" th:value="${diaryDTO.content}" name="content"></td>
            </tr>
            <tr>
                <td><label for="file">첨부파일</label>
                    <input type="file" class="form-control-file" id="file" name="file"></td>
            </tr>
            <tr>
                <td><label>기존 이미지</label>
                <img th:if="${diaryDTO.fileName ne null}" th:src="@{'/uploads/' + ${diaryDTO.fileName}}" width="300" alt="게시글 이미지"></td>
            </tr>

<!--            <tr>-->
<!--                <td><input type="text" value="${diaryDTO.date}"></td>-->
<!--            </tr>-->
        </table>
        <input type="submit" value="수정" th:onclick="'updateDiary(' + ${diaryDTO.boardSeq} + ')'">
        <input type="button" value="목록" th:onclick="goDiaryList()">
<!--        <input type="button" id="deleteBtn" th:onclick="|window.location.href='/diary/${diaryDTO.boardSeq}'|" value="삭제">-->
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function updateDiary(boardSeq){
        var title = $('input[name="title"]').val();
        var content = $('input[name="content"]').val();
        var fileInput = $('input[name="file"]')[0]; // 파일 입력 요소 가져오기
        var file = fileInput.files[0]; // 선택된 파일 가져오기

        var formData = new FormData();
        formData.append('boardSeq', boardSeq);
        formData.append('title', title);
        formData.append('content', content);
        formData.append('file', file);

        $.ajax({
            type: "PUT",
            url: "/daily-list/diary",
            data: formData,
            processData: false, // FormData 객체 그대로 전송하기 위해 필요
            contentType: false, // FormData 객체 그대로 전송하기 위해 필요
            success: function(result){
                alert("수정성공");
                location.href="/daily-list/diary/"+boardSeq;
            },
            error: function(xhr, status, error) {
                console.error("에러 발생:", error);
            }
        });
    }


    function goDiaryList(){
        location.href="/daily-list/1";
    }

    function deleteDiary(boardSeq){
    const check = confirm('삭제하시겠습니까?');

    if(check){
        $.ajax({
            type: "DELETE",
            url: "/daily-list/diary/"+boardSeq,
            success: function(result){
                alert("일기가 삭제 되었습니다.");
                location.href="/daily-list/1";
            },
            error: function(xhr, status, error) {
                console.error("에러 발생:", error);
            }
        });
    }
};

</script>
</body>
</html>
